* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  width: 200px;
  height: 154px;
  border: 1px solid #2c742f;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
